.site-nav {
  background-color: map-get($colors, "nav-background");
  padding: map-get($spacing, "sm") 0;
  position: sticky;
  top: 0;
  z-index: 100;

  .nav-content {
    margin: auto;

    text-align: center;
    width: 296px;
    padding: 0;
    justify-content: space-between;
  }

  .logo a {
    color: map-get($colors, "text");
    text-decoration: none;
    font-size: map-get($font-sizes, "3xl");
    font-weight: bold;

    &:hover {
      color: map-get($colors, "accent");
    }
  }
}
